#twitchEmbed {
  @import "@primer/css/index.scss";

  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: var(--color-fg-default);
  background-color: var(--color-canvas-default);
}

@import "./embed.scss";
