<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Anime Watch Parties</title>
    <link rel="stylesheet" href="style/index.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>