<div class="wrapped">
  <header class="header">
    <div class="wrap">
      <div class="flex">
        <a class="logo" href="https://animewatchparties.com/">
          <img src="/logo.svg" alt="Anime Watch Parties" />
        </a>
      </div>
    </div>
  </header>
  <main>
    <section class="section-main">
      <div class="wrap">
        <div class="block">
          <div class="title">
            <h1>Anime Watch Parties</h1><h2>Free extension that synchronizes
              videos on major anime websites</h2>
          </div>
          <div class="action-btn flex">
            <div class="wrap-btn">
              <a
                class="logo"
                href="https://addons.mozilla.org/en-US/firefox/addon/anime-watch-parties/"
              >
                <img
                  src="https://img.shields.io/amo/v/anime-watch-parties?label=For%20Firefox&logo=Firefox&style=for-the-badge"
                  alt="Get it for Firefox"
                  height="35"
                />
              </a>
            </div>
            <div class="wrap-btn">
              <a
                class="logo"
                href="https://chrome.google.com/webstore/detail/anime-watch-parties/goinehmnmhnoaepodbngfgdgjeibgelh/"
              >
                <img
                  src="https://img.shields.io/chrome-web-store/v/goinehmnmhnoaepodbngfgdgjeibgelh?label=For%20Chrome&logo=google%20chrome&style=for-the-badge"
                  alt="Get it for Chrome"
                  height="35"
                />
              </a>
            </div>
            <div class="wrap-btn">
              <a
                class="logo"
                href="https://github.com/Dragicafit/Anime-Watch-Parties/"
              >
                <img
                  src="https://img.shields.io/github/license/Dragicafit/Anime-Watch-Parties?label=Source%20Code&logo=Github&style=for-the-badge"
                  alt="Source Code"
                  height="35"
                />
              </a>
            </div>
          </div>
          <div class="container">
            <iframe
              class="video"
              src="https://www.youtube.com/embed/NbW7wYEbfeQ"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>