#awp-embed {
  @import "@primer/css/index.scss";
}

#awp-chat-embed {
  width: 300px;
  height: 100%;
  z-index: 200;
  background-color: transparent;
  right: 0px;
}

#awp-display-chat {
  z-index: 300;
}

#awp-display-studio {
  z-index: 300;
}

:not(:not(.awp-chat).awp-studio) {
  #awp-display-chat {
    right: 130px;
    bottom: 12px;
  }

  #awp-display-studio {
    right: 200px;
    bottom: 12px;
  }
}

:not(.awp-chat).awp-studio {
  #awp-display-chat {
    right: 12px;
    bottom: 100px;
  }

  #awp-display-studio {
    right: 12px;
    bottom: 150px;
  }
}

.awp-studio {
  .awp-studio-container {
    z-index: 199 !important;
  }
  #qc-cmp2-persistent-link /* Wakanim*/ {
    display: none !important;
  }

  #showmedia_video_player /*Crunchyroll*/,
  .video-player-wrapper /*Crunchyroll Beta*/ {
    position: fixed !important;
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
    max-height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    z-index: 199 !important;
    background-color: black !important;
    display: flex !important;
  }
  #vilos-player /*Crunchyroll*/,
  .video-player /*Crunchyroll Beta*/ {
    width: 100% !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  #jwplayer-container /*Wakanim*/ {
    position: fixed !important;
    width: auto !important;
    height: auto !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    z-index: 199 !important;
  }
}

.awp-chat.awp-studio {
  #vilos-player /*Crunchyroll*/,
  .video-player /*Crunchyroll Beta*/ {
    height: Min(100%, calc((100vw - 300px) * 0.5625)) !important;
    margin-right: 300px !important;
  }

  #jwplayer-container /*Wakanim*/ {
    right: 300px !important;
  }
}

:not(.awp-chat).awp-studio {
  #vilos-player /*Crunchyroll*/,
  .video-player /*Crunchyroll Beta*/ {
    height: Min(100%, calc(100vw * 0.5625)) !important;
    margin-right: 0px !important;
  }

  #jwplayer-container /*Wakanim*/ {
    right: 0 !important;
  }
}

body.awp-studio {
  overflow: hidden !important;
}

.awp-chat {
  #headerFreeTrial, // Wakanim
  .header-main.js-header-main, // Wakanim
  .sc-pQGev.lbdMzz, // ADN
  #funimation-main-site-header, // Funimation
  .vjs-funi-theme .vjs-control-bar, // Funimation
  .vjs-funi-theme .vjs-text-track-display, // Funimation
  .v-dialog__content, // Funimation
  .container.header-wrapper, // Funimation
  #marketing_banner > div,
  #searchform {
    // Google
    width: auto !important;
    min-width: auto !important;
  }

  #headerFreeTrial, // Wakanim
  .header-main.js-header-main, // Wakanim
  #qc-cmp2-persistent-link, // Wakanim
  .sc-pQGev.lbdMzz, // ADN
  #funimation-main-site-header, // Funimation
  #_evidon_banner, // Funimation
  .vjs-funi-theme .vjs-control-bar, // Funimation
  .vjs-funi-theme .vjs-text-track-display, // Funimation
  .v-dialog__content, // Funimation
  .container.header-wrapper, // Funimation
  .header-content, // Crunchyroll
  #searchform {
    // Google
    right: 300px !important;
  }

  #searchform {
    left: 0px !important;
  }
}

body.awp-chat {
  margin-right: 300px !important;
  width: auto !important;
}
